* Reset */ * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form container */
form {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;

  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Title */
form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

#FrTitle {
  text-align: center;
  margin-bottom: 10px;
  color: Black;
}

.Frinput {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(221, 26, 26);
}

/* Inputs & textarea */
input,
textarea {
  padding: 12px;
  border-radius: 40px;
  border: 1px solid #e7d7d7;
  font-size: 14px;
  transition: 0.3s ease;
  width: auto;
}

/* Focus effect */
input:focus,
textarea:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

/* Textarea height */
textarea {
  min-height: 300px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e7d7d7;
  font-size: 14px;
  transition: 0.3s ease;
  display: flex;
}

textarea:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

.form-row {
}

.form-group textarea {
  flex: 1 1 100%;
}

/* Buttons */
button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Submit button */
button[type="submit"] {
  background-color: #4a90e2;
  color: white;
}

button[type="submit"]:hover {
  background-color: #357abd;
}

/* Continue button */
button[type="button"] {
  background-color: #50e3c2;
  color: white;
}

button[type="button"]:hover {
  background-color: #35c9a5;
}

/* Responsive */
@media (max-width: 600px) {
  form {
    padding: 25px;
  }
}
